body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}
.carousel-inner img {
    height: 300px; /* Ajuste a altura conforme necessário */
    object-fit: cover; /* Manter a proporção da imagem */
}

.container {
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    display: grid;
    gap: 10px;
}

button {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#availabilityResult {
    margin-top: 20px;
    font-weight: bold;
}
#whatsapp-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

#whatsapp-button a {
    display: block;
    width: 60px; /* Ajuste conforme necessário */
    height: 60px; /* Ajuste conforme necessário */
    background-color: #25D366; /* Cor do WhatsApp */
    border-radius: 50%;
    text-align: center;
    padding: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

#whatsapp-button img {
    width: 100%;
}
